* {
  box-sizing: border-box;
  color: $color-black;
  font-size: 18px;

  @media (max-width: $phone-vp) {
    font-size: 14px;
  }

}

.grid{
  max-width: 1060px;
  margin: 0 auto;

  @media (max-width: $phone-vp) {
    max-width: 340px;
  }

}

.section__title{
  @include sectionTitle();
}