h2{
  font-family: $font-lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

h3{
  font-family: $font-lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $color-black;
}

h4{
  padding-bottom: 12px;
  font-family: $font-lato;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: $color-black;
  letter-spacing: 4px;
  line-height: 17px;
}

p{
  font-family: $font-lato;
  font-size: 18px;
  line-height: 28px;
  opacity: .7;
}