.contacts{
  height: 680px;
  background-color: $color-gray;
  color: $color-blackest;

  &__section--title{
    padding: 98px 0 69px;
  }

  &__unknown{
    margin-top: 83px;
    text-align: center;

    & h2{
      text-transform: uppercase;
      margin: 24px 0 68px;
    }
  }

  &__line{
    height: 3px;
    width: 800px;
    background-color: $color-blackest;
    opacity: .25;
    margin: 0 auto;
  }

  &__hero-logo img{
    max-height: 29px;
    max-width: 100px;
    margin-bottom: 28px;
  }

  &__hero-data p{
    font-family: $font-lato;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
  }
}

.maps{
  min-height: 100%;
  min-width: 100%;
}