.join-us{
  //height: 157px;
  max-width: 100vw;
  background-color: $color-dark-gray;
  text-align: center;
  font-size: 14px;

  //@media (max-width: $phone-vp) {
  //  height: 116px;
  //}

  &__title{
    padding: 26px 0 24px;
    font-family: $font-lato;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: $phone-vp) {
      font-size: 14px;
      line-height: 17px;
      padding: 20px 0 6px;
    }

  }

  &__input{
    width: 350px;
    height: 44px;
    border: transparent;
    padding: 0 12px;
    caret-color: rgba(0, 0, 0, 0.5);

    @media (max-width: $phone-vp) {
      width: 155px;
      height: 35px;
    }

    &:invalid{
      border: 1px solid $color-red;
    }

    &:hover{
      &::placeholder{
        line-height: 35px;
      }
    }

    &::placeholder{
      font-size: 14px;
      line-height: 44px;
      color: $color-blackest;
      opacity: .5;
      text-indent: -12px;

      @media (max-width: $phone-vp) {
        font-size: 12px;
        line-height: 35px;
        text-indent: -6px;
      }

    }

    &--block{
      display: flex;
      justify-content: center;
      padding-bottom: 43px;

      @media (max-width: $phone-vp) {
        padding-bottom: 35px;
      }

    }
  }

  &__btn{
    text-transform: uppercase;
    background-color: $color-blue;
    color: $color_white;
    width: 95px;
    height: 44px;
    border: none;
    vertical-align: middle;
    cursor: pointer;

    @media (max-width: $phone-vp) {
      font-size: 12px;
      line-height: 17px;
      width: 45px;
      height: 35px;
    }
  }
}