.section-projects{
  font-family: $font-lato;
  font-size: 24px;
  line-height: 29px;
  color: $color-blackest;
  background-color: $color-gray;

  &__row--margin{
    margin-bottom: 15px;
  }

  &__our-projects{
    margin: 81px auto;
    width: 390px;
    height: 390px;
    padding: 26px 40px;
    text-align: center;
    border: 1px solid $color-blackest;
  }

  &--title{
    padding: 84px 0 49px;
  }

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.projects__img{
  display: flex;
  box-shadow: -50px 80px 200px rgba(0, 0, 0, 0.25);

  & :hover{
    cursor: pointer;
    //background-image: url('#{$path-img}eye.svg');
    background: rgba(4, 4, 4, 0.3);
    //z-index: 10;
  }
}

.our-projects{
  &__list{
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  &__lines{
    position: absolute;

    &:before{
      @include vertLine(-30px, 420px);
    }

    &:after{
      @include vertLine(-31px, -115px);
    }
  }

  &__header{
    font-weight: 700;
  }

  &__item{
    padding-top: 30px;

     & a{
       text-decoration: none;
       &:hover{
         @include linkHoverEffect();
       }
     }
  }
}