@mixin linkAsButton($paddings){
  text-transform: uppercase;
  color: $color-black;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font-futura;
  border: 1px solid $color-red;
  padding: $paddings;
  background: $color_white;
}

@mixin logoSign($fontSize, $fontColor){
  font: $font-futura;
  text-transform: uppercase;
  font-size: $fontSize;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: -1px;
  color: $fontColor;
}

@mixin BtnHoverEffect(){
  cursor: pointer;
  background-color: $color-red;
  color: $color-white;
  transition: all .3s ease;
}
@mixin linkHoverEffect(){
  cursor: pointer;
  color: $color-red;
  transition: all .3s ease;
}

@mixin heroLines($topPos, $leftPos, $heightLine, $widthLine){
  display: block;
  position: relative;
  top: $topPos;
  left: $leftPos;
  content: '';
  height: $heightLine;
  width: $widthLine;
  background-color: $color-dark-gray;
  //background-color: red;
  //
  //@media (max-width: $phone-vp) {
  //  height: 100px;
  //}

}

@mixin titleLine($marginLine){
  display: inline-block;
  content: '';
  height: 3px;
  width: 100px;
  vertical-align: middle;
  background-color: $color-blackest;
  opacity: .25;
  margin: $marginLine;

  @media (max-width: $phone-vp) {
    width: 75px;
  }

}

@mixin sectionTitle(){
  display: block;
  text-align: center;
  font-family: $font-lato;
  color: $color-blackest;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;

  @media (max-width: $phone-vp) {
    font-size: 18px;
  }

  &:before{
    @include titleLine(0 38px 0 0);

    @media (max-width: $phone-vp) {
      @include titleLine(0 9px 0 0);
    }

  }

  &:after{
    @include titleLine(0 0 0 38px);

    @media (max-width: $phone-vp) {
      @include titleLine(0 0 0 9px);
    }

  }
}