// Variables

// Color
$color-black: #040404;
$color-blackest: #000;
$color-blue: #223ce1;
$color-red: #fd0707;
$color-gray: #ddddde;
$color-lightgray: #e5e5e5;
$color-dark-gray: #c4c4c4;
$color-white: #fff;

// Fonts
$font-futura: "Futura-Bold", Arial, sans-serif;
$font-lato: "Lato", Arial, sans-serif;

// path
$path-img: '../img/';

//Adaptive
$phone-vp: 400px;